<div class="modal fade" id="modal-pass-mobile">
    <div class="modal-body mobile">
        <div class="container">
            <div class="login_form">
                <h1 align="center" style="font-size: 20px">Hãy nhập Tài khoản và Email !</h1>
                <form>
                    <input type="text" name="username" placeholder="Tài khoản:">
                    <input type="email" name="" required="" placeholder="Email: ">
                    <input type="submit" class="foget_pass" onclick="foget_pass()" name="" value="Lấy lại mật khẩu">
                    <div id="notification_pass"></div>
                </form>

            </div>
        </div>

    </div>
</div>