<!-- <div class="modal fade" id="modal-pass">
    <div class="modal-body ">
        <div class="container">
            <div class="form_content" align="center">
                <h2>Đăng nhập nếu bạn là thành viên</h2>
                <h1 id="kitclub">CLB KIT !</h1>

            </div>
            <div class="login_form">

                <h1 align="center" style="font-size: 20px">Hãy nhập Tài khoản và Email !</h1>
                <form>
                    <input type="text" name="username" placeholder="Tài khoản:">
                    <input type="email" name="" required="" placeholder="Email: ">
                    <input type="submit" class="foget_pass" onclick="foget_pass()" name="" value="Lấy lại mật khẩu">
                    <div id="notification_pass"></div>
                </form>

            </div>
        </div>

    </div>
</div> -->

<!-- bổ sung -->
<!-- <script type="text/javascript">
    $('form').submit(function (){
     var username = $('#username_forgetPc').val();
     var email = $('#email_forgetPc').val();
     $('#result').html('');
     if ($.trim(username) == ''){
         alert('Bạn chưa nhập tên đăng nhập');
         return false;
     }

     if ($.trim(email) == ''){
         alert('Bạn chưa nhập email');
         return false;
     }
     $.ajax({
     url : 'mail/ForgetPassword.php',
     type : 'post',
     dataType : 'json',
     data : {
         username : username,
         email : email
     },
     success : function (result)
     {
         if (result==1){
             $('#result').append('Mật khẩu mới đã được gửi về email của bạn, vui lòng kiểm tra !');
         }
         else {
             $('#result').append('Tài khoản hoặc Email không chính xác, vui lòng kiểm tra lại');
         }
     }
 });
     return false;
 });
</script> -->









<div class="modal fade" id="modal-pass">
    <div class="modal-body ">
        <div class="container">
            <div class="form_content" align="center">
                <h2>Đăng nhập nếu bạn là thành viên</h2>
                <h1 id="kitclub">CLB KIT !</h1>

            </div>
            <div class="login_form">

                <h1 align="center" style="font-size: 20px">Hãy nhập Tài khoản và Email !</h1>
                <form>
                    <input type="text" name="username" id="username_forgetPc" placeholder="Tài khoản:">
                    <input type="email" name="" id="email_forgetPc" placeholder="Email: ">
                    <input type="submit" class="foget_pass" onclick="foget_pass()" name="" value="Lấy lại mật khẩu">
                    <div id="notification_pass"></div>
                </form>
                <div id="result" style="color:red"></div>
            </div>
        </div>

    </div>
</div>

<!-- bổ sung -->
<script type="text/javascript">
    forgotPass();
</script>