<script type="text/javascript">
    $(document).ready(()=>{
      $('#submit_kit_mobie').unbind().bind('click' , login);
    });
    
    function login(){
      $("#idForm_kit_mobie").submit(function(e) {
        e.preventDefault(); 
        var form = $(this);
        let username = $('#username_kit_mobie').val();
        let password = $('#password_kit_mobie').val();
        $.ajax({
           type: "POST",
           //url: "./app/models/login.php",
           url: "conn/index.php",
           data: {username : username , password : password}, // serializes the form's elements.
           success: function(result){
              if(result == 'admin'){ 
                window.location="../kit_club/admin.php";
              }

              else if(result == 'member'){
                window.location = "./index.php?url=user/index"
              }
              else{
                let content_error = document.getElementById('content_error');
                content_error.innerHTML = "Username or Password error !";
                content_error.style.display = 'block';
              }
           }
        });
      }); 
    }
</script>
<div class="modal fade" id="modal-id-mobile">
    <div class="modal-body mobile">
        <div class="container">
            <div class="login_form">
                <h1 align="center">Đăng nhập</h1>
                <form action="" id="idForm_kit_mobie">
                    <input type="text" name="username" id="username_kit_mobie" required="" placeholder="Tài khoản">
                    <input type="password" name="password" required="" id="password_kit_mobie" placeholder="Mật khẩu">
                    <input type="submit" name="submit" id="submit_kit_mobie" value="Đăng nhập">
                </form>
                <a data-toggle="modal" href='#modal-pass-mobile'>Quên mật khẩu</a>
            </div>
        </div>

    </div>
</div>