<div class='copyv'>
                <div>
                    <h3 class="wow bounceInDown">Chào mừng bạn đến với KIT!</h3>
                </div>
                <div id='mariber-social'>
                    <ul>
                        <li class='fb-item'>
                            <a href='#' rel='nofollow noopener' target='' title='Follow Us on Facebook' class="wow bounceInLeft"><i class='fab fa-facebook-square' style="cursor: pointer;"></i></span></a>
                        </li>
                        <li class='instagram-item'>
                            <a href='#' rel='nofollow noopener' target='' title='Follow Us on Instagram' class="wow bounceInLeft"><i class='fab fa-instagram'></i></a>
                        </li>
                        <li class='youtube-item'>
                            <a href='#' rel='nofollow noopener' target='' title='Follow Us on Youtube' class="wow wobble"><i class='fab fa-youtube-square'></i></a>
                        </li>
                        <li class="email-item">
                            <a href="#" rel="nofollow noopener" target='' title='Follow Us on Email' class="wow bounceInRight"><i class="fas fa-envelope-square"></i></a>
                        </li>
                        <li class="googlemap-item">
                            <a href="#" rel="nofollow noopener" target='' title='Follow Us on Map' class="wow bounceInRight"><i class="fas fa-globe-americas"></i></a>
                        </li>

                        <!--EFFECT SPINER-->
                        <div>
                            <div class="spiner">
                            </div>
                            <div class="bar">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                            </div>
                        </div>

                    </ul>
                </div>
            </div>