<footer id='copyright'>
    <ul>
        <li class='fb-item'>
            <a href='https://www.facebook.com/kitclubKMA/' rel='nofollow noopener' target='' title='Follow Us on Facebook' class="wow bounceInLeft"><i class='fab fa-facebook-square' style="cursor: pointer;"></i></span></a>
        </li>
        <li class='instagram-item'>
            <a href='#' rel='nofollow noopener' target='' title='Follow Us on Instagram' class="wow bounceInLeft"><i class='fab fa-instagram'></i></a>
        </li>
        <li class='youtube-item'>
            <a href='https://www.youtube.com/channel/UC5CovAS1QaortxkoZvc30Vw' rel='nofollow noopener' target='' title='Follow Us on Youtube' class="wow wobble"><i class='fab fa-youtube-square'></i></a>
        </li>
        <li class="email-item">
            <a href="#" rel="nofollow noopener" target='' title='Follow Us on Email' class="wow bounceInRight"><i class="fas fa-envelope-square"></i></a>
        </li>
        <li class="googlemap-item">
            <a href="https://www.google.com/maps/place/H%E1%BB%8Dc+vi%E1%BB%87n+K%E1%BB%B9+thu%E1%BA%ADt+M%E1%BA%ADt+m%C3%A3/@20.9801386,105.7936295,17z/data=!3m1!4b1!4m5!3m4!1s0x3135acc508f938fd:0x883e474806a2d1f2!8m2!3d20.9801336!4d105.7958182" rel="nofollow noopener"
                target='' title='Follow Us on Map' class="wow bounceInRight"><i class="fas fa-globe-americas"></i></a>
        </li>
    </ul>
    <div id='copy' class="wow bounceInDown">
        Copyright &#169; <span id='current-year'></span>
        <a href='#'>KIT</a> All Right Reserved
    </div>
</footer>

<script type="text/javascript" src="../kit_club/app/views/home/js/menu.js"></script>