<section class="content-header">
    <div class="breadcrumb">
        <li><a href="#"><i class="fas fa-tachometer-alt"></i> Home</a>
        </li>
        <li class="active">Dashboard</li>
    </div>
</section>
<div class="example">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="thumbnail" onclick="opentabs('notify')">
                    <img src="app/views/user/img/thongbao.png" alt="125x125">
                    <div class="txt">
                        <h3>Xem chi tiết</h3>
                    </div>
                </a>

            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail" onclick="opentabs('meeting')">
                    <img src="app/views/user/img/lichhop.png" alt="125x125">
                    <div class="txt">
                        <h3>Xem chi tiết</h3>
                    </div>
                </a>

            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail" onclick="opentabs('view_schedule_member')">
                    <img src="app/views/user/img/khoahoc.png" alt="125x125">
                    <div class="txt">
                        <h3>Xem chi tiết</h3>
                    </div>
                </a>

            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail" onclick="opentabs('project')">
                    <img src="app/views/user/img/duan.png" alt="125x125">
                    <div class="txt">
                        <h3>Xem chi tiết</h3>
                    </div>
                </a>

            </div>
            <div class="main-footer col-md-10">
                <div class="left">
                    <b>Copyright &copy 2019</b>
                    <a href="#">http://kitclub.com</a>
                </div>
            </div>

        </div>
    </div>

</div>