<section class="content-header">
    <div class="breadcrumb">
        <li><a href="#"><i class="fas fa-tachometer-alt"></i> Home</a>
        </li>
        <li class="active">Dashboard</li>
        <li class="active">Thông báo</li>
    </div>
</section>
<div class="example">
    <div class="container">
        <div class="row">
            thông báo
        </div>
    </div>
</div>
<div class="main-footer col-md-10">
    <div class="left">
        <b>Copyright &copy 2019</b>
        <a href="#">http://kitclub.com</a>
    </div>
</div>