

.title_details{
    color:orangered;
    font-size:x-large;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
.content_deitails{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}